/*common*/
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}


/*header*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    background-color: #080b12;
}

.upgrade {
    margin-right: 30px;
    background-color: #080b12;
    padding: 5px 25px;
    border: 1px solid white;
    border-radius: 20px;

}

/*parte laterale*/
aside {
    background-color: black;
    width: 250px;
    height: 4000px;
}

.logo {
    width: 70%;
}

.principal-logo {
    margin: 10px;
}

.secondary-logo {
    display: none;
}