/*common*/
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.small-logo {
    width: 18px;
    vertical-align: middle;
}

.margin-left-20 {
    padding-left: 20px;
}

h2 {
    margin: 15px;
}

/*hover*/
.upgrade:hover {
    transform: scale(1.2);
}

aside a:hover, .mini-titlesong a:hover, .change-category a:hover {
    color: #ffffff;
}

.timing-green:hover {
    background-color: greenyellow;
}

.timing-green:hover .circle-timing {
    display: inline-block;
}

.fa-play-circle:hover {
    transform: scale(1.1);
}





/*header*/
header {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: calc(100vw - 250px);
    margin-left: 250px;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade {
    margin-right: 30px;
    background-color: none;
    padding: 5px 25px;
    border: 1px solid white;
    border-radius: 20px;

}

/*parte laterale*/
aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 250px;
    height: calc(100vh - 80px);
    font-weight: 500;
}

aside a, .mini-titlesong a, .change-category a  {
    color: #717171;
}

.logo {
    height: 60px;
}

.logo img {
    height: 60px;
    object-fit: contain;
    vertical-align: middle;
}

.principal-logo {
    padding: 10px;
}

.secondary-logo {
    display: none;
}

span > strong {
    display: none;
}

.square {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    width: 30px;
    height: 30px;
    margin: 15px 15px 15px 0;
    color: black;
    font-size: 30px;
    background-color: #717171;
}

.playlist {
    height: calc(100% - 350px);
    overflow-y: auto;
}

nav li {
    margin-bottom: 15px;
}

.cazzo {
    color: #ffffff;
}

.first-nav img {
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.profile-image {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.profile-image img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.profile-download strong {
    color: #ffffff;
}

.profile-download hr {
    width: calc(100% - 40px);
    margin: 15px 0;
}
/*/parte laterale*/

/*main*/
main {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: #141922;
    margin-left: 250px;
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    overflow-y: auto;
}

.change-category {
    width: 100%;
    margin: auto;
    
}

.change-category ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.change-category ul li  {
    list-style: none;
    display: inline-block;
    margin: 0 20px 20px 20px;
}

.change-category ul li div {
    margin: auto;
    height: 5px;
    width: 50px;
    border-bottom: 2px solid #adff2f;
}

.first-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 10px;
}

.album {
    margin: 5px;
    width: 300px;
    height: 200px;
    background-color: rosybrown;
}


/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #282828;
}

.col-left, .col-right {
    width: 200px;
    position: fixed;
    bottom: 20px;
}

.image-mini {
    height: 45px;
}

.image-mini img {
    height: 45px;
    object-fit: contain;
    vertical-align: middle;
}

.mini-titlesong {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titlesong {
    margin-right: 10px;
}

.col-left {
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.col-right {
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


a .fa-heart {
    margin-right: 8px;
}

.col-center {
    width: calc(100% - 400px);
    margin: auto;
    text-align: center;
}

.change-pause-song {
    width: 20%;
    margin: auto;
    margin-bottom: 12px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-play-circle {
    font-size: 30px;
    line-height: 25px;
}

.time-song {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-timing-song {
    border-radius: 50px;
    width: 30%;
    margin: auto;
    height: 6px;
    background-color: lightgrey;
    margin: 0 30px;
}

.timing-green {
    border-radius: 50px;
    height: 6px;
    width: 30%;
    background-color: rgb(160, 160, 160);
}

.circle-timing {
    position: relative;
    bottom: 2px;
    border-radius: 50%;
    margin-left: 98%;
    width: 10px;
    height: 10px;
    background-color: rgb(138, 138, 138);
    display: none;
}

.icons i {
    font-size: 15px;
    margin-left: 5px;
}

.time-song.audio .bar-timing-song {
    width: 100px;
    margin:  20 10px;
}

